# SPDX-License-Identifier: GPL-2.0-only
#
#

config UNISOC_IOLIMIT
	tristate "vfs io limit support"
	depends on BLK_CGROUP
	help
	Provide a blkio policy implementing for io bandwidth while a process
	in the cgroup read or write.

