config NXP_NFC_PN557
	bool "Nxp NFC pn557 Controller"
	---help---
	  You'll have to say Y if your computer contains an pn557 I2C device that
	  you want to use under Linux.

	  You can say N here if you don't have any pn557 I2C connected to your computer.
