config NFC_PN557
	tristate "NXP PN557 nfc driver"
	depends on I2C
	help
	  NXP PN557 core driver.
	  This is a driver based on the HCI NFC kernel layers and
	  will thus not work with NXP libnfc library.

config NXP_NFC
	bool "Nxp NFC Device"
	help
	  You'll have to say Y if your computer contains an nfc I2C device that
	  you want to use under Linux.
	  You can say N here if you don't have any nfc I2C connected to your computer.

config NFC_SN1XX
	bool "Nxp NFC sn1xx Controller"
	help
	  You'll have to say Y if your computer contains an sn1xx I2C device that
	  you want to use under Linux.
	  You can say N here if you don't have any sn1xx I2C connected to your computer.

config NFC_PN8XT
	bool "Nxp NFC pn8xt Controller"
	help
	  You'll have to say Y if your computer contains an pn8xt I2C device that
	  you want to use under Linux.
	  You can say N here if you don't have any pn8xt I2C connected to your computer.
