config SPRD_DEBUG
	bool "Spreadtrum debug module"
	depends on ARCH_SPRD || COMPILE_TEST
	help
	  Say y here to enable Debug support.

config SPRD_7SRESET
        tristate "Spreadtrum PMIC 7s reset driver"
	depends on ARCH_SPRD || COMPILE_TEST
	help
	  This driver support for 7Sreset of PMIC(2731,2730,2721)

source "drivers/soc/sprd/debug/Kconfig"
source "drivers/soc/sprd/autotest/Kconfig"
