#
# SPRD Soc drivers
#
config SPRD_MEMDISK
	tristate "SPRD memdisk driver"
	depends on ARCH_SPRD
	help
	  This option can support sprd memdisk driver, which can use a block of
	  DDR memory as a disk. we can load the android image to this disk when
	  mmc driver is not ready, for example in vdk and FPGA platform.

source drivers/soc/sprd/iommu/Kconfig
source "drivers/soc/sprd/modem/Kconfig"
source "drivers/soc/sprd/domain/Kconfig"

config SPRD_DEBUG
	tristate "Spreadtrum debug module"
	depends on ARCH_SPRD
	help
	  Say y here to enable Debug support.

source "drivers/soc/sprd/debug/Kconfig"
