config SPRD_DEBUG
	bool "Spreadtrum debug module"
	depends on ARCH_SPRD || COMPILE_TEST
	help
	  Say y here to enable Debug support.

source "drivers/soc/sprd/debug/Kconfig"
source "drivers/soc/sprd/autotest/Kconfig"
