#
# UNISOC Display drivers
#
menu "Unisoc SOC drivers"

config SPRD_PMIC_SMPL
	tristate "Spreadtrum PMIC SMPL driver"
	depends on MFD_SC27XX_PMIC || MFD_UMP96XX_PMIC || COMPILE_TEST
        help
          Say Y here to enable smpl module.

config SPRD_PMIC_SYSCON
	tristate "Unisoc PMIC global driver"
	depends on MFD_SC27XX_PMIC || MFD_UMP96XX_PMIC || COMPILE_TEST
	help
		Enable this configuration option to enable pmic global driver.

config SPRD_UNISOC_MANUFACTURER_MODULE
        tristate "Spread unisoc manufacturer module driver"
        depends on ARCH_SPRD || COMPILE_TEST
        help
          Say Y here to enable smpl module.

config UNISOC_7SRESET
        tristate "Unisoc PMIC 7s reset driver"
	depends on ARCH_SPRD || COMPILE_TEST
	help
	  This driver support for 7Sreset of PMIC(2731,2730)


# NOTE: Keep order __alphabetically__ PLEASE!! #

source "drivers/unisoc_platform/audio/Kconfig"
source "drivers/unisoc_platform/cpufreq/Kconfig"
source "drivers/unisoc_platform/debug/Kconfig"
source "drivers/unisoc_platform/debug_log/Kconfig"
source "drivers/unisoc_platform/dmabufheap/Kconfig"
source "drivers/unisoc_platform/iommu/Kconfig"
source "drivers/unisoc_platform/irq_monitor/Kconfig"
source "drivers/unisoc_platform/kts_sync/Kconfig"
source "drivers/unisoc_platform/modem/Kconfig"
source "drivers/unisoc_platform/net/Kconfig"
source "drivers/unisoc_platform/preemptirq_warn/Kconfig"
source "drivers/unisoc_platform/printk_cpuid/Kconfig"
source "drivers/unisoc_platform/pub/Kconfig"
source "drivers/unisoc_platform/sched/Kconfig"
source "drivers/unisoc_platform/sfp/Kconfig"
source "drivers/unisoc_platform/sprd_disp/Kconfig"
source "drivers/unisoc_platform/sprd_gnss/Kconfig"
source "drivers/unisoc_platform/sprd_time_sync/Kconfig"
source "drivers/unisoc_platform/sprdwcn/Kconfig"
source "drivers/unisoc_platform/sysdump/Kconfig"
source "drivers/unisoc_platform/thermal/Kconfig"
source "drivers/unisoc_platform/wlan/Kconfig"
source "drivers/unisoc_platform/power/Kconfig"
source "drivers/unisoc_platform/hang_debug/Kconfig"
source "drivers/unisoc_platform/userlog/Kconfig"
source "drivers/unisoc_platform/performance/Kconfig"
source "drivers/unisoc_platform/sprd_coresight/Kconfig"

endmenu
