#
# UNISOC Display drivers
#
menu "Unisoc SOC drivers"

source "drivers/unisoc_platform/sprd_disp/Kconfig"
source "drivers/unisoc_platform/debug/Kconfig"
source "drivers/unisoc_platform/sysdump/Kconfig"

endmenu
