#
# UNISOC Display drivers
#
menu "Unisoc SOC drivers"

source "drivers/unisoc_platform/sprd_disp/Kconfig"
source "drivers/unisoc_platform/debug/Kconfig"
source "drivers/unisoc_platform/sysdump/Kconfig"
source "drivers/unisoc_platform/iommu/Kconfig"
source "drivers/unisoc_platform/modem/Kconfig"
source "drivers/unisoc_platform/printk_cpuid/Kconfig"
source "drivers/unisoc_platform/sprdwcn/Kconfig"
source "drivers/unisoc_platform/kts_sync/Kconfig"

endmenu
