# SPDX-License-Identifier: GPL-2.0-only
config WLAN_VENDOR_SPREADTRUM
	bool "Spreadtrum devices"
	default y
	---help---
	  If you have a wireless card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about  cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if WLAN_VENDOR_SPREADTRUM

source "drivers/unisoc_platform/wlan/common/Kconfig"
source "drivers/unisoc_platform/wlan/sc2332/Kconfig"
source "drivers/unisoc_platform/wlan/sc2355/Kconfig"
source "drivers/unisoc_platform/wlan/marlin3_sipc/Kconfig"

endif # WLAN_VENDOR_SPREADTRUM
