config SPRD_DEBUG
	bool "Spreadtrum debug module"
	depends on ARCH_SPRD || COMPILE_TEST
	help
	  Say y here to enable Debug support.

config SPRD_LOOK_AT
	tristate "Sprdtrum lookat tool support"
	depends on SPRD_DEBUG || COMPILE_TEST
	default n
	help
	  this macro is for lookat driver, lookat is a debug tool that is used to
	  view the content of arm/arm64 of the address space through usb port,
	  such as the register of each module, DDR address space, etc.
	  When in doubt, say n

config SPRD_PAST_RECORD
	bool "SPRD past event debug"
	depends on SPRD_DEBUG
	default y
	help
	  SPRD past record for Debug.

config ENABLE_SPRD_IO_TRACING
	bool "SPRD IO TRACING event debug"
	depends on SPRD_DEBUG
	default y
	help
	  SPRD IO TRACING for Debug.

config ENABLE_SPRD_DEEP_SLEEP_TRACING
	bool "SPRD deep sleep debug"
	depends on SPRD_DEBUG
	default y
	help
	  SPRD deep sleep TRACING for Debug. For user version, say no.

source "drivers/soc/sprd/debug/djtag/Kconfig"
source "drivers/soc/sprd/debug/busmonitor/Kconfig"
source "drivers/soc/sprd/debug/sysdump/Kconfig"
source "drivers/soc/sprd/debug/dmc_mpu/Kconfig"
source "drivers/soc/sprd/debug/hang_debug/Kconfig"
source "drivers/soc/sprd/debug/log/Kconfig"
source "drivers/soc/sprd/debug/userspace_debug/Kconfig"
source "drivers/soc/sprd/debug/apb_prot/Kconfig"

config SPRD_LAST_REGS
	bool "SPRD last regs access"
	depends on SPRD_DEBUG
	default n
	help
	  SPRD last regs access for Debug.
source "drivers/soc/sprd/debug/irq/Kconfig"
