menu "SPRD SIPC modules"

config SPRD_SIPC
	tristate "Sprd IPC support"
	depends on SPRD_MBOX || UNISOC_MAILBOX
	select SPRD_MODEM_POWER_MANAGER
	default n
	help
	  SIPC is a module for spreadtrum AP/CP communicaiton system,
	  This driver is a SIPC V3 driver, it is base to SIPC v2 dirver.
	  depends on MBOX.

	  Say M here if you want to build a module.

config SPRD_SIPC_SPIPE
	tristate "SPRD pipe driver based on SBUF"
	default n
	depends on SPRD_SIPC
	help
	  This driver is a pipe driver base on SBUF, which create
	  general pipes between AP & CP.

	  Say M here if you want to build a module.

config SPRD_SIPC_SPOOL
	tristate "SPRD pool driver based on SBLOCK"
	default n
	depends on SPRD_SIPC
	help
	  This driver is a pool driver base on SBLOCK, which create
	  general pools between AP & CP.

	  Say M here if you want to build a module.

config SPRD_SIPC_SLOG_BRIDGE
	tristate "SPRD slog bridge driver based on SIPC"
	default n
	depends on SPRD_SIPC
	help
	  This driver is a slog bridge driver base on SIPC, which create
	  slog bridge .

	  Say M here if you want to build a module.

config SPRD_SIPC_SBUF_BRIDGE
	tristate "SPRD sbuf bridge driver based on SIPC"
	default n
	depends on SPRD_SIPC
	help
	  This driver is a slog bridge driver base on SIPC, which create
	  sbuf bridge .

	  Say M here if you want to build a module.

config SPRD_SIPC_SBLOCK_BRIDGE
	tristate "SPRD sblock bridge driver based on SIPC"
	default n
	depends on SPRD_SIPC
	help
	  This driver is a sblock bridge driver base on SIPC, which create
	  sblock bridge .

	  Say M here if you want to build a module.

config SPRD_SIPC_ZERO_COPY_SIPX
	tristate "SPRD SIPX driver"
	default n
	depends on SPRD_SIPC
	help
	  SIPX driver implementation for the Spreadtrum platform.
	  It is used to provide read/write application program interface.
	  It can transmit large blocks data and IP packets based on sblock.

	  Say M here if you want to build a module.

config SPRD_SIPC_MEM_CACHE_EN
	bool "Enable cache from sipc memory"
	default n
	depends on SPRD_SIPC_ZERO_COPY_SIPX
	help
	  Enable cache from sipc memory.

config SPRD_SIPC_WCN
	bool "Enable sipc for WCN"
	default n
	depends on SPRD_SIPC
	help
	  This option enables sipc interface for WCN.
endmenu
