/*
 * Spreadtrum Orca platform DTS file
 *
 * Copyright (C) 2018, Spreadtrum Communications Inc.
 *
 * This file is licensed under a dual GPLv2 or X11 license.
 */

#include <dt-bindings/soc/sprd,orca-regs.h>
#include <dt-bindings/soc/sprd,orca-mask.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ap_ahb_regs: syscon@21000000 {
			compatible = "sprd,sys-ap-ahb", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x21000000 0 0x100000>;
		};

		ap_apb_regs: syscon@24000000 {
			compatible = "sprd,sys-ap-apb", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x24000000 0 0x100000>;
		};

		ap_ipa_ahb_regs: syscon@29000000 {
			compatible = "sprd,sys-ap-ipa-ahb", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x29000000 0 0x100000>;
		};

		audcp_apb_regs: syscon@3350d000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x3350d000 0 0x1000>;
		};

		audcp_ahb_regs: syscon@335e0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x335e0000 0 0x10000>;
		};

		pub_ahb_regs: syscon@61030000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x61030000 0 0x10000>;
		};

		pub_apb_regs: syscon@61050000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x61050000 0 0x10000>;
		};

		ap_intc0_regs: syscon@63020000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63020000 0 0x10000>;
		};

		ap_intc1_regs: syscon@63030000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63030000 0 0x10000>;
		};

		ap_intc2_regs: syscon@63040000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63040000 0 0x10000>;
		};

		ap_intc3_regs: syscon@63050000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63050000 0 0x10000>;
		};

		ap_intc4_regs: syscon@63060000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63060000 0 0x10000>;
		};

		ap_intc5_regs: syscon@63070000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63070000 0 0x10000>;
		};

		anlg_phy_g0_regs: syscon@63470000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63470000 0 0x10000>;
		};

		anlg_phy_g1_regs: syscon@63480000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63480000 0 0x10000>;
		};

		anlg_phy_g2_regs: syscon@63490000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63490000 0 0x10000>;
		};

		anlg_phy_g3_regs: syscon@634b0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x634b0000 0 0x10000>;
		};

		anlg_phy_g4_regs: syscon@634c0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x634c0000 0 0x10000>;
		};

		anlg_phy_g5_regs: syscon@634f0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x634f0000 0 0x10000>;
		};

		anlg_phy_g8_regs: syscon@63500000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63500000 0 0x10000>;
		};

		anlg_phy_g9_regs: syscon@63510000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63510000 0 0x10000>;
		};

		anlg_phy_g10_regs: syscon@63520000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63520000 0 0x10000>;
		};

		anlg_phy_g11_regs: syscon@63530000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x63530000 0 0x10000>;
		};

		pmu_apb_regs: syscon@64010000 {
			compatible = "sprd,sys-pmu-apb", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64010000 0 0x10000>;
		};

		aon_apb_regs: syscon@64020000 {
			compatible = "sprd,sys-aon-apb", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64020000 0 0x10000>;
		};

		ap-apb {
			compatible = "simple-bus";

			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			uart0: serial@24100000 {
				compatible = "sprd,sc9836-uart",
					     "sprd,sc9838-uart";
				reg = <0 0x24100000 0 0x100>;
				interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
				status = "disabled";
			};
		};

		aon {
			compatible = "simple-bus";

			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			aon_mailbox: mailbox@63300000 {
				compatible = "sprd,mailbox";
				reg = <0 0x63300000 0 0x40000>;
				syscons = <&aon_apb_regs 0x4 0x4>;
				syscon-names = "clk";
				interrupts = <GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>,
					     <GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>;
				sprd,core-cnt = <9>;
			};

			pin_controller: pinctrl@63450000 {
				compatible = "sprd,orca-pinctrl";
				reg = <0 0x63450000 0 0x10000>;
			};

			adi_bus: spi@63a00000 {
				compatible = "sprd,sharkl5-adi", "sprd,orca-adi";
				reg = <0 0x63a00000 0 0x200000>;
				#address-cells = <1>;
				#size-cells = <0>;
			};
		};
		ipa_local: sprd,sipa@2E000000 {
			compatible = "sprd,sipa";
			reg = <0 0x2E000000 0 0x00001000>,
				<0 0x28000000 0 0x00040000>;
			reg-names = "glb-base", "iram-base";
			interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "local_ipa_irq";

			syscons = <&ap_ipa_ahb_regs
				REG_AP_IPA_AHB_RF_AHB_EB
				MASK_AP_IPA_AHB_RF_IPA_EB>;
			syscon-names = "enable";

			sprd,sipa-bypass-mode = <0>;

			sprd,usb-dl-tx = <1 1024>;
			sprd,usb-dl-rx = <1 1024>;
			sprd,usb-ul-tx = <1 1024>;
			sprd,usb-ul-rx = <1 1024>;
			sprd,cp-dl-tx = <1 1024>;
			sprd,cp-dl-rx = <1 1024>;
			sprd,cp-ul-tx = <1 1024>;
			sprd,cp-ul-rx = <1 1024>;
			sprd,wifi-dl-tx = <1 1024>;
			sprd,wifi-dl-rx = <1 1024>;
			sprd,wifi-ul-tx = <1 1024>;
			sprd,wifi-ul-rx = <1 1024>;
			sprd,ap-eth-dl-tx = <0 1024>;
			sprd,ap-eth-dl-rx = <0 1024>;
			sprd,ap-eth-ul-tx = <0 1024>;
			sprd,ap-eth-ul-rx = <0 1024>;
			sprd,ap-ip-dl-tx = <0 1024>;
			sprd,ap-ip-dl-rx = <0 1024>;
			sprd,ap-ip-ul-tx = <0 1024>;
			sprd,ap-ip-ul-rx = <0 1024>;
		};

		ipa {
			compatible = "simple-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			pcie0@2b100000 {
				compatible = "sprd,pcie", "snps,dw-pcie";
				reg = <0x0 0x2b100000 0x0 0x2000>,
				      <0x2 0x00000000 0x0 0x2000>;
				reg-names = "dbi", "config";
				#address-cells = <3>;
				#size-cells = <2>;
				device_type = "pci";
				ranges = <0x01000000 0x0 0x00000000 0x2 0x00002000 0x0 0x00010000
					  0x82000000 0x0 0x10000000 0x2 0x00012000 0x1 0xfffee000>;
				interrupts = <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>;
				bus-range = <0  15>;
				num-lanes = <1>;
				num-vectors = <256>;
				num-viewport = <8>;
				status = "disabled";
			};

			pcie1@2b100000 {
				compatible = "sprd,pcie-ep", "snps,dw-pcie";
				reg = <0x0 0x2b100000 0x0 0x2000>,
				      <0x0 0x2b108000 0x0 0x2000>,
				      <0x2 0x00000000 0x2 0x00000000>;
				reg-names = "dbi", "dbi2","addr_space";
				interrupts = <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>;
				num-lanes = <1>;
				num-ib-windows = <6>;
				num-ob-windows = <8>;
				status = "okay";
			};
		};
	};

	ext_26m: ext-26m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
		clock-output-names = "ext-26m";
	};

};

