// SPDX-License-Identifier: GPL-2.0-only
/*
 * Unisoc Qogirl6pro platform DTS file
 *
 * Copyright (C) 2020, Unisoc Inc.
 */

#include <dt-bindings/clock/sprd,ums9620-clk.h>
#include <dt-bindings/soc/sprd,qogirn6pro-regs.h>
#include <dt-bindings/soc/sprd,qogirn6pro-mask.h>

/ {
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
		i2c6 = &i2c6;
		i2c7 = &i2c7;
		i2c8 = &i2c8;
		i2c9 = &i2c9;
		spi0 = &spi0;
		spi1 = &spi1;
		spi2 = &spi2;
		spi4 = &adi_bus;
	};

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ap_ahb_regs: syscon@20000000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x20000000 0 0x6000>;
		};

		ap_apb_regs: syscon@20100000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x20100000 0 0x3000>;
		};

		gpu_apb_regs: syscon@23000000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x23000000 0 0x3000>;
		};

		gpu_dvfs_apb_regs: syscon@23014000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x23014000 0 0x3000>;
		};

		ipa_apb_regs: syscon@25000000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x25000000 0 0x3000>;
		};

		anlg_phy_pcie3_regs: syscon@2600C000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x2600C000 0 0x3000>;
		};

		mm_ahb_regs: syscon@30000000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x30000000 0 0x3000>;
		};

		ipa_dispc_glb_apb_regs: syscon@31800000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x31800000 0 0x3000>;
		};

		mm_csi_switch_regs: syscon@3b600000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x3b600000 0 0x3000>;
		};

		pub_apb_regs: syscon@60050000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x60050000 0 0x10000>;
		};

		anlg_phy_g0l_regs: syscon@64300000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64300000 0 0x3000>;
		};

		anlg_phy_g1_regs: syscon@64304000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64304000 0 0x3000>;
		};

		anlg_phy_g1l_regs: syscon@64308000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64308000 0 0x3000>;
		};

		anlg_phy_g5r_regs: syscon@64320000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64320000 0 0x3000>;
		};

		anlg_phy_g5l_regs: syscon@64324000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64324000 0 0x3000>;
		};

		anlg_phy_g8_regs: syscon@6432C000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x6432C000 0 0x3000>;
		};

		anlg_phy_g9_regs: syscon@64330000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64330000 0 0x3000>;
		};

		anlg_phy_g10_regs: syscon@64334000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64334000 0 0x3000>;
		};

		aon_apb_regs: syscon@64900000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64900000 0 0x3000>;
		};

		pmu_apb_regs: syscon@64910000 {
			compatible = "sprd,ums9620-glbregs", "syscon";
			#syscon-cells = <2>;
			reg = <0 0x64910000 0 0x3000>;
		};

		ap-apb {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0 0x20200000 0x100000>;

			uart0: serial@0 {
				compatible = "sprd,ums9620-uart",
					     "sprd,sc9836-uart";
				reg = <0 0x100>;
				interrupts = <GIC_SPI 2 IRQ_TYPE_LEVEL_HIGH>;
				clock-names = "enable", "uart", "source";
				clocks = <&ext_26m>, <&ext_26m>, <&ext_26m>;
				status = "disabled";
			};

			uart1: serial@10000 {
				compatible = "sprd,ums9620-uart",
					     "sprd,sc9836-uart";
				reg = <0x10000 0x100>;
				interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
				clock-names = "enable", "uart", "source";
				clocks = <&ext_26m>, <&ext_26m>, <&ext_26m>;
				status = "disabled";
			};

			spi0: spi@60000{
				compatible = "sprd,ums9620-spi";
				reg = <0x60000 0x1000>;
				interrupts = <GIC_SPI 7 IRQ_TYPE_LEVEL_HIGH>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			spi1: spi@70000{
				compatible = "sprd,ums9620-spi";
				reg = <0x70000 0x1000>;
				interrupts = <GIC_SPI 6 IRQ_TYPE_LEVEL_HIGH>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			spi2: spi@80000{
				compatible = "sprd,ums9620-spi";
				reg = <0x80000 0x1000>;
				interrupts = <GIC_SPI 5 IRQ_TYPE_LEVEL_HIGH>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			crypto_engine_rng: rng@e0000 {
				compatible = "sprd,sprd-trng";
				reg = <0xe0000 0x10000>;
				clock-names = "ce-pub-eb", "ap-ce-clk",
							  "source";
				clocks = <&ext_26m>, <&ext_26m>, <&ext_26m>;
			};
		};

		ap-ahb {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0 0x20000000 0x22d0040>;

			sdio3: sdio@2200000 {
				compatible = "sprd,sdhc-r11p1";
				reg = <0 0x2200000 0 0x1000>;
				interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>;
				status = "disabled";
			};

			i2c0: i2c@2240000 {
				compatible = "sprd,qogirn6pro-i2c";
				reg = <0x2240000 0x100>;
				interrupts = <GIC_SPI 216 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c1: i2c@2250000 {
				compatible = "sprd,qogirn6pro-i2c";
				reg = <0x2250000 0x100>;
				interrupts = <GIC_SPI 215 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c2: i2c@2260000 {
				compatible = "sprd,qogirn6pro-i2c";
				reg = <0x2260000 0x100>;
				interrupts = <GIC_SPI 214 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c3: i2c@2270000 {
				compatible = "sprd,qogirn6pro-i2c";
				reg = <0x2270000 0x100>;
				interrupts = <GIC_SPI 213 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c4: i2c@2280000 {
				compatible = "sprd,qogirn6pro-i2c";
				reg = <0x2280000 0x100>;
				interrupts = <GIC_SPI 212 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c5: i2c@2290000 {
				compatible = "sprd,qogirn6pro-i2c";
				reg = <0x2290000 0x100>;
				interrupts = <GIC_SPI 211 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c6: i2c@22a0000 {
				compatible = "sprd,qogirn6pro-i2c";
				reg = <0x22a0000 0x100>;
				interrupts = <GIC_SPI 210 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c7: i2c@22b0000 {
				compatible = "sprd,qogirn6pro-i2c";
				reg = <0x22b0000 0x100>;
				interrupts = <GIC_SPI 209 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c8: i2c@22c0000 {
				compatible = "sprd,qogirn6pro-i2c";
				reg = <0x22c0000 0x100>;
				interrupts = <GIC_SPI 208 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c9: i2c@22d0000 {
				compatible = "sprd,qogirn6pro-i2c";
				reg = <0x22d0000 0x100>;
				interrupts = <GIC_SPI 207 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};
		};

		mm {
			compatible = "simple-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			mm_domain: mm_domain {
				compatible = "sprd,mm-domain";
				syscon-names = "force_shutdown",
					"shutdown_en",
					"camera_power_state",
					"isp_force_shutdown",
					"isp_shutdown_en",
					"isp_power_state",
					"dcam_force_shutdown",
					"dcam_shutdown_en",
					"dcam_power_state";
				syscons =
				<&pmu_apb_regs
				REG_PMU_APB_PD_CAMERA_CFG_0
				MASK_PMU_APB_PD_CAMERA_FORCE_SHUTDOWN>,
				<&pmu_apb_regs
				REG_PMU_APB_PD_CAMERA_CFG_0
				MASK_PMU_APB_PD_CAMERA_AUTO_SHUTDOWN_EN>,
				<&pmu_apb_regs
				REG_PMU_APB_PWR_STATUS_DBG_6
				MASK_PMU_APB_PD_CAMERA_STATE>,
				<&pmu_apb_regs
				REG_PMU_APB_PD_ISP_BLK_CFG_0
				MASK_PMU_APB_PD_ISP_BLK_FORCE_SHUTDOWN>,
				<&pmu_apb_regs
				REG_PMU_APB_PD_ISP_BLK_CFG_0
				MASK_PMU_APB_PD_ISP_BLK_AUTO_SHUTDOWN_EN>,
				<&pmu_apb_regs
				REG_PMU_APB_PWR_STATUS_DBG_7
				MASK_PMU_APB_PD_ISP_BLK_STATE>,
				<&pmu_apb_regs
				REG_PMU_APB_PD_DCAM_BLK_CFG_0
				MASK_PMU_APB_PD_DCAM_BLK_FORCE_SHUTDOWN>,
				<&pmu_apb_regs
				REG_PMU_APB_PD_DCAM_BLK_CFG_0
				MASK_PMU_APB_PD_DCAM_BLK_AUTO_SHUTDOWN_EN>,
				<&pmu_apb_regs
				REG_PMU_APB_PWR_STATUS_DBG_7
				MASK_PMU_APB_PD_DCAM_BLK_STATE>;
			};

			dcam: dcam@3e000000 {
				compatible = "sprd,qogirn6pro-cam";
				reg = <0 0x3e000000 0 0x10000>,
					<0 0x3e010000 0 0x10000>,
					<0 0x3e100000 0 0x80>,
					<0 0x3e104000 0 0x80>,
					<0 0x3e030000 0 0xB0>,
					<0 0x3e108000 0 0x50>,
					<0 0x3e038000 0 0x40>;
				reg-names = "dcam0_reg",
						"dcam1_reg",
						"dcam2_reg",
						"dcam3_reg",
						"dcam01_axi_ctrl_reg",
						"dcam23_axi_ctrl_reg",
						"fmcu_ctrl_reg";
				interrupts = <GIC_SPI 108 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 107 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 110 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 109 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-names = "dcam0",
							"dcam1",
							"dcam2",
							"dcam3";
				syscons = <&mm_ahb_regs REG_MM_AHB_DCAM_BLK_SOFT_RST
					MASK_MM_AHB_DCAM0_1_ALL_SOFT_RST>,
					<&mm_ahb_regs REG_MM_AHB_DCAM_BLK_SOFT_RST
					MASK_MM_AHB_DCAM2_3_ALL_SOFT_RST>,
					<&mm_ahb_regs REG_MM_AHB_DCAM_BLK_SOFT_RST
					MASK_MM_AHB_DCAM0_SOFT_RST>,
					<&mm_ahb_regs REG_MM_AHB_DCAM_BLK_SOFT_RST
					MASK_MM_AHB_DCAM1_SOFT_RST>,
					<&mm_ahb_regs REG_MM_AHB_DCAM_BLK_SOFT_RST
					MASK_MM_AHB_DCAM2_SOFT_RST>,
					<&mm_ahb_regs REG_MM_AHB_DCAM_BLK_SOFT_RST
					MASK_MM_AHB_DCAM3_SOFT_RST>;
				syscon-names = "dcam01_all_reset",
						"dcam23_all_reset",
						"dcam0_reset",
						"dcam1_reset",
						"dcam2_reset",
						"dcam3_reset";
				sprd,cam-ahb-syscon = <&mm_ahb_regs>;
				sprd,csi-switch = <&mm_csi_switch_regs>;
				sprd,isp = <&isp>;
				sprd,dcam-count = <4>;
				sprd,dcam-superzoom = <2>;
				sprd,project-id = <4>;
				iommus = <&iommu_dcam>;
				status = "okay";
			};

			iommu_dcam: iommu@3e03f000 {
				compatible = "sprd,iommuvau-dcam";
				reg = <0x0 0x3e03f000 0x0 0xB0>;
				sprd,iova-base = <0x40000000>;
				sprd,iova-size = <0xc0000000>;
				reg_name = "mmu_reg";
				status = "okay";
				#iommu-cells = <0>;
			};

			isp: isp@3a000000 {
				compatible = "sprd,isp";
				reg = <0 0x3A000000 0 0x100000>;
				interrupts = <GIC_SPI 240 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 241 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 238 IRQ_TYPE_LEVEL_HIGH>;
				interrupts_name = "ispch0", "ispch1", "dec";
				syscons = <&mm_ahb_regs REG_MM_AHB_ISP_BLK_SOFT_RST
						MASK_MM_AHB_ISP_VAU_SOFT_RST>,
						<&mm_ahb_regs REG_MM_AHB_ISP_BLK_SOFT_RST
						MASK_MM_AHB_ISP_ALL_SOFT_RST>,
						<&mm_ahb_regs REG_MM_AHB_ISP_BLK_SOFT_RST
						MASK_MM_AHB_ISP_SOFT_RST>;
				syscon-names = "isp_vau_reset",
							     "isp_ahb_reset",
							     "reset";
				sprd,cam-ahb-syscon = <&mm_ahb_regs>;
				sprd,isp-count = <1>;
				iommus = <&iommu_isp>;
				status = "okay";
			};

			iommu_isp: iommu@3a0ff000 {
				compatible = "sprd,iommuvau-isp";
				reg = <0x0 0x3a0ff000 0x0 0xb0>;
				sprd,iova-base = <0x40000000>;
				sprd,iova-size = <0xc0000000>;
				reg_name = "mmu_reg";
				status = "okay";
				#iommu-cells = <0>;
			};
		};

		aon {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0 0x64000000 0x1016000>;

			ap_gpio: gpio@170000 {
				compatible = "sprd,qogirn6pro-gpio","sprd,qogirl6-gpio";
				reg = <0x170000 0x10000>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_debounce: gpio@200000 {
				compatible = "sprd,qogirn6pro-eic-debounce","sprd,qogirl6-eic-debounce";
				reg = <0x200000 0x80>,
				      <0x210000 0x80>,
				      <0x220000 0x80>,
				      <0x230000 0x80>,
				      <0x240000 0x80>,
				      <0x250000 0x80>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_latch: gpio@200080 {
				compatible = "sprd,qogirn6pro-eic-latch","sprd,qogirl6-eic-latch";
				reg = <0x200080 0x20>,
				      <0x210080 0x20>,
				      <0x220080 0x20>,
				      <0x230080 0x20>,
				      <0x240080 0x20>,
				      <0x250080 0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_async: gpio@2000a0 {
				compatible = "sprd,qogirn6pro-eic-async","sprd,qogirl6-eic-async";
				reg = <0x2000a0 0x20>,
				      <0x2100a0 0x20>,
				      <0x2200a0 0x20>,
				      <0x2300a0 0x20>,
				      <0x2400a0 0x20>,
				      <0x2500a0 0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_sync: gpio@2000c0 {
				compatible = "sprd,qogirn6pro-eic-sync","sprd,qogirl6-eic-sync";
				reg = <0x2000c0 0x20>,
				      <0x2100c0 0x20>,
				      <0x2200c0 0x20>,
				      <0x2300c0 0x20>,
				      <0x2400c0 0x20>,
				      <0x2500c0 0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			};

			aon_mailbox: mailbox@600000 {
				compatible = "sprd,mailbox";
				reg = <0x600000 0x40000>;
				syscons = <&aon_apb_regs 0x4 0x4>;
				syscon-names = "clk";
				interrupts = <GIC_SPI 45 IRQ_TYPE_LEVEL_HIGH>,
					     <GIC_SPI 44 IRQ_TYPE_LEVEL_HIGH>,
					     <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>;
				sprd,sensor = <6>;
				sprd,core-cnt = <7>;
				sprd,version = <0x200>;
			};

			pin_controller: pinctrl@2e0000 {
				compatible = "sprd,qogirl6pro-pinctrl";
				reg = <0x2e0000 0x10000>;
			};

			adi_bus: spi@400000 {
				compatible = "sprd,qogirn6pro-adi";
				reg = <0x400000 0x100000>;
			};

			apdu_if: apdu@500000 {
				compatible = "sprd,qogirn6pro-apdu";
				reg = <0x500000 0x10000>;
				sprd,sys-pub-reg = <&pub_apb_regs>;
				sprd,pub-ise-reg-offset = <0x3368>;
				sprd,pub-ise-bit-offset = <15>;
				interrupts = <GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>;
			};

			hwlock: hwspinlock@a10000 {
				compatible = "sprd,hwspinlock-r3p0";
				reg = <0xa10000 0x10000>;
				#hwlock-cells = <1>;
				clock-names = "enable";
				clocks = <&aonapb_gate CLK_SPLK_EB>;
			};

			apb_bm: apb-busmonitor@64580000 {
				compatible = "sprd,apb-busmonitor";
				reg = <0 0x64580000 0 0x1000>;
				interrupts = <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
				sprd,target-addr = <0 0>;
				sprd,target-data = <0 0>;
			 };
		};
	};

	ext_26m: ext-26m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
		clock-output-names = "ext-26m";
	};

	ext_32k: ext_32k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "ext-32k";
	};

	rco_100m: rco-100m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		clock-output-names = "rco-100m";
	};

	rco_60m: rco-60m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <60000000>;
		clock-output-names = "rco-60m";
	};

	rco_6m: rco-6m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <6000000>;
		clock-output-names = "rco-6m";
	};

	dphy_312m5: dphy-312m5 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <312500000>;
		clock-output-names = "dphy-312m5";
	};

	dphy_416m7: dphy-416m7 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <416700000>;
		clock-output-names = "dphy-416m7";
	};
};

