// SPDX-License-Identifier: (GPL-1.0+ OR MIT)
/*
 * Spreadtrum Qogirn6pro platform DTS file
 *
 * Copyright (C) 2019, Spreadtrum Communications Inc.
 */

/ {
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ap-apb {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			uart0: serial@20200000 {
				compatible = "sprd,ums9520-uart",
					     "sprd,sc9836-uart";
				reg = <0x20200000 0x100>;
				interrupts = <GIC_SPI 2 IRQ_TYPE_LEVEL_HIGH>;
				clock-names = "enable", "uart", "source";
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart1: serial@20210000 {
				compatible = "sprd,ums9520-uart",
					     "sprd,sc9836-uart";
				reg = <0x20210000 0x100>;
				interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
				clock-names = "enable", "uart", "source";
				clocks = <&ext_26m>;
				status = "disabled";
			};
		};

		dpuvsp {
			compatible = "simple-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			dummy-crtc {
				compatible = "sprd,dummy-crtc";
				reg = <0x0 0x20300000 0x0 0x1000>;

				dma-coherent;
				dummy_crtc_port: port {
					dummy_crtc_out: endpoint {
						remote-endpoint = <&dummy_connector_in>;
					};
				};
			};

			dummy-connector {
				compatible = "sprd,dummy-connector";

				display-timings {
					timing0 {
						clock-frequency = <24975000>;
						hactive = <720>;
						vactive = <1080>;
						hback-porch = <10>;
						hfront-porch = <10>;
						vback-porch = <10>;
						vfront-porch = <10>;
						hsync-len = <10>;
						vsync-len = <10>;
					};
				};

				port {
					dummy_connector_in: endpoint {
						remote-endpoint = <&dummy_crtc_out>;
					};
				};
			};

			dpu: dpu@31000000 {
				compatible = "sprd,display-processor";
				reg = <0x0 0x31000000 0x0 0x3000>;
				/*syscons = <&ap_ahb_regs REG_AP_AHB_RF_AHB_RST
				MASK_AP_AHB_RF_DISPC_SOFT_RST>,
				<&ap_ahb_regs REG_AP_AHB_RF_AP_QOS2
				(MASK_AP_AHB_RF_ARQOS_THRESHHOLD_DISP |
				MASK_AP_AHB_RF_AWQOS_THRESHHOLD_DISP)>;
				syscon-names = "reset", "qos";
				*/
				interrupts = <GIC_SPI 27 IRQ_TYPE_LEVEL_HIGH>;
				status = "disabled";
				iommus = <&iommu_dispc>;

				dma-coherent;
				sprd,ip = "dpu-r6p0";
				sprd,soc = "qogirn6pro";

				dpu_port: port {
					dpu_out: endpoint {
						remote-endpoint = <&dsi_in>;
					};
				};
			};

			iommu_dispc: iommu@31000000 {
				compatible = "sprd,iommuvaul5p-dispc";
				reg = <0x0 0x31000000 0x0 0x800>,
				<0x0 0x31001800 0x0 0x80>;
				iova-base = <0x30000000>;
				iova-size = <0x10000000>;
				reg_name = "mmu_interrupt_reg","mmu_reg";
				status = "disabled";
				#iommu-cells = <0>;
			};

			dsi: dsi@31300000 {
				compatible = "sprd,dsi-host";
				reg = <0x0 0x31000000 0x0 0x1000>;
				/*syscons = <&ap_ahb_regs REG_AP_AHB_RF_AHB_RST
				MASK_AP_AHB_RF_DSI_SOFT_RST>;
				syscon-names = "reset";
				interrupts = <GIC_SPI 158 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 157 IRQ_TYPE_LEVEL_HIGH>;
				*/
				status = "disabled";

				sprd,ip = "sprd,dsi-ctrl", "r3p1";
				sprd,soc = "qogirn6pro";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						dsi_out: endpoint {
							remote-endpoint = <&dphy_in>;
						};
					};

					port@1 {
						reg = <1>;
						dsi_in: endpoint {
							remote-endpoint = <&dpu_out>;
						};
					};
				};
			};

			dphy: dphy {
				compatible = "sprd,dsi-phy";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x0 0x31000000 0x0 0x1000>;
				/*syscons = <&ap_ahb_regs
				REG_AP_AHB_RF_MISC_CKG_EN
				(MASK_AP_AHB_RF_DPHY_REF_CKG_EN |
				MASK_AP_AHB_RF_DPHY_CFG_CKG_EN)>,
				<&pmu_apb_regs
				REG_PMU_APB_RF_ANALOG_PHY_PD_CFG
				MASK_PMU_APB_RF_DSI_PD_REG>;
				syscon-names = "enable", "power";*/
				status = "disabled";
				sprd,ip = "synopsys,bidir_4l";
				sprd,soc = "qogirn6pro";
				sprd,mipi-drive-capability = <7>;
				/* output port */
				port@0 {
					reg = <0>;
					dphy_out: endpoint {
					/*remote-endpoint = <&panel_in>;*/
					};
				};
				/* input port*/
				port@1 {
					reg = <1>;
					dphy_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};
			};
		};

		aon {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0 0x64000000 0x1016000>;

			ap_gpio: gpio@170000 {
				compatible = "sprd,qogirn6pro-gpio","sprd,qogirl6-gpio";
				reg = <0x170000 0x10000>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_debounce: gpio@200000 {
				compatible = "sprd,qogirn6pro-eic-debounce","sprd,qogirl6-eic-debounce";
				reg = <0x200000 0x80>,
				      <0x210000 0x80>,
				      <0x220000 0x80>,
				      <0x230000 0x80>,
				      <0x240000 0x80>,
				      <0x250000 0x80>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_latch: gpio@200080 {
				compatible = "sprd,qogirn6pro-eic-latch","sprd,qogirl6-eic-latch";
				reg = <0x200080 0x20>,
				      <0x210080 0x20>,
				      <0x220080 0x20>,
				      <0x230080 0x20>,
				      <0x240080 0x20>,
				      <0x250080 0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_async: gpio@2000a0 {
				compatible = "sprd,qogirn6pro-eic-async","sprd,qogirl6-eic-async";
				reg = <0x2000a0 0x20>,
				      <0x2100a0 0x20>,
				      <0x2200a0 0x20>,
				      <0x2300a0 0x20>,
				      <0x2400a0 0x20>,
				      <0x2500a0 0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_sync: gpio@2000c0 {
				compatible = "sprd,qogirn6pro-eic-sync","sprd,qogirl6-eic-sync";
				reg = <0x2000c0 0x20>,
				      <0x2100c0 0x20>,
				      <0x2200c0 0x20>,
				      <0x2300c0 0x20>,
				      <0x2400c0 0x20>,
				      <0x2500c0 0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			};
		};
	};

	ext_26m: ext-26m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
		clock-output-names = "ext-26m";
	};

	ext_32k: ext_32k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "ext-32k";
	};
};

