/*
 * Spreadtrum SC2721 PMIC dts file
 *
 * Copyright (C) 2018, Spreadtrum Communications Inc.
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

&adi_bus {
	sc2721_pmic: pmic@0 {
		compatible = "sprd,sc2721";
		reg = <0>;
		spi-max-frequency = <26000000>;
		interrupts = <GIC_SPI 38 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		#interrupt-cells = <2>;
		#address-cells = <1>;
		#size-cells = <0>;

		led-controller@180 {
			compatible = "sprd,sc27xx-bltc", "sprd,sc2721-bltc";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x180>;

			led@0 {
				label = "red";
				reg = <0x0>;
			};

			led@1 {
				label = "green";
				reg = <0x1>;
			};

			led@2 {
				label = "blue";
				reg = <0x2>;
			};
		};

		rtc@200 {
			compatible = "sprd,sc27xx-rtc", "sprd,sc2721-rtc";
			reg = <0x200>;
			interrupt-parent = <&sc2721_pmic>;
			interrupts = <1 IRQ_TYPE_LEVEL_HIGH>;
		};

		pmic_eic: gpio-controller@280 {
			compatible = "sprd,sc27xx-eic", "sprd,sc2721-eic";
			reg = <0x280>;
			interrupts = <4 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-parent = <&sc2721_pmic>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		efuse@300 {
			compatible = "sprd,sc27xx-efuse", "sprd,sc2721-efuse";
			reg = <0x300>;
			#address-cells = <1>;
			#size-cells = <1>;
			hwlocks = <&hwlock 12>;
			/* Data cells */
			adc_bcal: calib@24 {
				reg = <0x24 0x2>;
			};

			adc_scal: calib@26 {
				reg = <0x26 0x2>;
			};
		};

		pmic_adc: adc@400 {
			compatible = "sprd,sc27xx-adc", "sprd,sc2721-adc";
			reg = <0x400>;
			interrupt-parent = <&sc2721_pmic>;
			interrupts = <0 IRQ_TYPE_LEVEL_HIGH>;
			#io-channel-cells = <1>;
			hwlocks = <&hwlock 4>;
			nvmem-cells = <&adc_bcal>, <&adc_scal>;
			nvmem-cell-names = "big_scale_calib", "small_scale_calib";
		};

		syscon@c00 {
			compatible = "sprd,sc27xx-syscon";
			reg = <0xc00>;
		};

		poweroff@c20 {
			compatible = "sprd,sc27xx-poweroff", "sprd,sc2721-poweroff";
			reg = <0xc20>;
		};

		vibrator@eb4 {
			compatible = "sprd,sc27xx-vibrator", "sprd,sc2721-vibrator";
			reg = <0xeb4>;
		};
	};
};
