// SPDX-License-Identifier: GPL-2.0-only
/*
 * Unisoc Sharkl3 platform DTS file
 *
 * Copyright (C) 2019, Unisoc Inc.
 */

#include <dt-bindings/soc/sprd,sharkl3-regs.h>
#include <dt-bindings/soc/sprd,sharkl3-mask.h>
#include <dt-bindings/clock/sprd,sc9863a-clk.h>

/ {
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		spi0 = &spi0;
		spi1 = &spi1;
		spi2 = &spi2;
		spi3 = &spi3;
	};

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ap_ahb_regs: syscon@20e00000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x20e00000 0 0x4000>;
		};

		pub_ctrl_regs: syscon@300e0000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x300e0000 0 0x4000>;
		};

		pub_wrap_regs: syscon@300f0000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x300f0000 0 0x1000>;
		};

		pmu_apb_regs: syscon@402b0000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x402b0000 0 0x4000>;
		};

		aon_apb_regs: syscon@402e0000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x402e0000 0 0x4000>;
		};

		anlg_phy_g1_regs: syscon@40350000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x40350000 0 0x3000>;
		};

		anlg_phy_g2_regs: syscon@40353000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x40353000 0 0x3000>;
		};

		anlg_phy_g4_regs: syscon@40359000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x40359000 0 0x3000>;
		};

		anlg_phy_g5_regs: syscon@4035c000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x4035c000 0 0x3000>;
		};

		anlg_phy_g7_regs: syscon@40363000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x40363000 0 0x3000>;
		};

		anlg_wrap_wcn_regs: syscon@40366000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x40366000 0 0x3000>;
		};

		mm_ahb_regs: syscon@60800000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x60800000 0 0x3000>;
		};

		mm_vsp_ahb_regs: syscon@62000000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x62000000 0 0x1000>;
		};

		ap_apb_regs: syscon@71300000 {
			compatible = "sprd,sc9863a-glbregs", "syscon";
			reg = <0 0x71300000 0 0x4000>;
		};

		apb@70000000 {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0x0 0x70000000 0x10000000>;

			uart0: serial@0 {
				compatible = "sprd,sc9863a-uart",
					     "sprd,sc9836-uart";
				reg = <0x0 0x100>;
				interrupts = <GIC_SPI 2 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart1: serial@100000 {
				compatible = "sprd,sc9863a-uart",
					     "sprd,sc9836-uart";
				reg = <0x100000 0x100>;
				interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart2: serial@200000 {
				compatible = "sprd,sc9863a-uart",
					     "sprd,sc9836-uart";
				reg = <0x200000 0x100>;
				interrupts = <GIC_SPI 4 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart3: serial@300000 {
				compatible = "sprd,sc9863a-uart",
					     "sprd,sc9836-uart";
				reg = <0x300000 0x100>;
				interrupts = <GIC_SPI 5 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart4: serial@400000 {
				compatible = "sprd,sc9863a-uart",
					     "sprd,sc9836-uart";
				reg = <0x400000 0x100>;
				interrupts = <GIC_SPI 6 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			i2c0: i2c@500000 {
				compatible = "sprd,sharkl3-i2c";
				reg = <0x500000 0x1000>;
				interrupts = <GIC_SPI 11 IRQ_TYPE_LEVEL_HIGH>;
				clock-names = "enable", "i2c", "source";
				clock-frequency = <100000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c1: i2c@600000 {
				compatible = "sprd,sharkl3-i2c";
				reg = <0x600000 0x1000>;
				interrupts = <GIC_SPI 12 IRQ_TYPE_LEVEL_HIGH>;
				clock-names = "enable", "i2c", "source";
				clock-frequency = <100000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c2: i2c@700000 {
				compatible = "sprd,sharkl3-i2c";
				reg = <0x700000 0x1000>;
				interrupts = <GIC_SPI 13 IRQ_TYPE_LEVEL_HIGH>;
				clock-names = "enable", "i2c", "source";
				clock-frequency = <100000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			i2c3: i2c@800000 {
				compatible = "sprd,sharkl3-i2c";
				reg = <0x800000 0x1000>;
				interrupts = <GIC_SPI 14 IRQ_TYPE_LEVEL_HIGH>;
				clock-names = "enable", "i2c", "source";
				clock-frequency = <400000>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			spi0: spi@a00000 {
				compatible = "sprd,sc9863-spi";
				reg = <0xa00000 0x1000>;
				interrupts = <GIC_SPI 7 IRQ_TYPE_LEVEL_HIGH>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};
			spi1: spi@b00000 {
				compatible = "sprd,sc9863-spi";
				reg = <0xb00000 0x1000>;
				interrupts = <GIC_SPI 8 IRQ_TYPE_LEVEL_HIGH>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};
			spi2: spi@c00000 {
				compatible = "sprd,sc9863-spi";
				reg = <0xc00000 0x1000>;
				interrupts = <GIC_SPI 9 IRQ_TYPE_LEVEL_HIGH>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};
			spi3: spi@1400000 {
				compatible = "sprd,sc9863-spi";
				reg = <0x1400000 0x1000>;
				interrupts = <GIC_SPI 19 IRQ_TYPE_LEVEL_HIGH>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};
		};

		ap-ahb {
			compatible = "simple-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			ap_dma: dma-controller@20100000 {
				compatible = "sprd,sharkl3-dma";
				reg = <0 0x20100000 0 0x4000>;
				interrupts = <GIC_SPI 50 IRQ_TYPE_LEVEL_HIGH>;
				#dma-cells = <1>;
				#dma-channels = <28>;
				clock-names = "enable";
				clocks = <&apahb_gate CLK_DMA_EB>;
			};
		};

		aon {
			compatible = "simple-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			timer@40050000 {
				compatible = "sprd,sharkl3-timer";
				reg = <0 0x40050000 0 0x14>;
				interrupts = <GIC_SPI 27 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_32k>;
			};

			timer@40050020 {
				compatible = "sprd,sharkl3-suspend-timer";
				reg = <0 0x40050020 0 0x14>;
				clocks = <&ext_32k>;
			};

			hwlock: hwspinlock@40060000 {
				compatible = "sprd,hwspinlock-r3p0";
				reg = <0 0x40060000 0 0x10000>;
				#hwlock-cells = <1>;
				clock-names = "enable";
				clocks = <&aonapb_gate CLK_SPLK_EB>;
			};

			aon_dma: dma-controller@40100000 {
				compatible = "sprd,sharkl3-dma";
				reg = <0 0x40100000 0 0x4000>;
				#dma-cells = <1>;
				#dma-channels = <9>;
				clock-names = "enable";
				clocks = <&aonapb_gate CLK_AON_DMA_EB>;
			};

			eic_debounce: gpio-controller@40210000 {
				compatible = "sprd,sharkl3-eic-debounce";
				reg = <0 0x40210000 0 0x80>,
				      <0 0x40370000 0 0x80>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 37 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_latch: gpio-controller@40210080 {
				compatible = "sprd,sharkl3-eic-latch";
				reg = <0 0x40210080 0 0x20>,
				      <0 0x40370080 0 0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 37 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_async: gpio-controller@402100a0 {
				compatible = "sprd,sharkl3-eic-async";
				reg = <0 0x402100a0 0 0x20>,
				      <0 0x403700a0 0 0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 37 IRQ_TYPE_LEVEL_HIGH>;
			};

			eic_sync: gpio-controller@402100c0 {
				compatible = "sprd,sharkl3-eic-sync";
				reg = <0 0x402100c0 0 0x20>,
				      <0 0x403700c0 0 0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 37 IRQ_TYPE_LEVEL_HIGH>;
			};

			pwms: pwm@40260000 {
				compatible = "sprd,sharkl3-pwm";
				reg = <0 0x40260000 0 0x10000>;
				clock-names = "pwm0", "enable0",
					"pwm1", "enable1",
					"pwm2", "enable2";
				clocks = <&aon_clk CLK_PWM0>, <&aonapb_gate CLK_PWM0_EB>,
					<&aon_clk CLK_PWM1>, <&aonapb_gate CLK_PWM1_EB>,
					<&aon_clk CLK_PWM2>, <&aonapb_gate CLK_PWM2_EB>;
				assigned-clocks = <&aon_clk CLK_PWM0>,
					<&aon_clk CLK_PWM1>,
					<&aon_clk CLK_PWM2>;
				assigned-clock-parents = <&ext_26m>,
					<&ext_26m>,
					<&ext_26m>;
				#pwm-cells = <2>;
			};

			ap_gpio: gpio-controller@402c0000 {
				compatible = "sprd,sharkl3-gpio-plus";
				reg = <0 0x402c0000 0 0x1000>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <GIC_SPI 130 IRQ_TYPE_LEVEL_HIGH>;
			};

			watchdog@40310000 {
				compatible = "sprd,sp9860-wdt";
				reg = <0 0x40310000 0 0x1000>;
				interrupts = <GIC_SPI 124 IRQ_TYPE_LEVEL_HIGH>;
				timeout-sec = <30>;
				clock-names = "enable", "rtc_enable";
				clocks = <&aonapb_gate CLK_CA53_WDG_EB>,
					<&aonapb_gate CLK_CA53_WDG_RTC_EB>;
			};

			adi_bus: spi@41800000 {
				compatible = "sprd,sharkl3-adi";
				reg = <0 0x41800000 0 0x200000>;
				#address-cell = <1>;
				#size-cell = <0>;
			};
		};

		mm {
			compatible = "simple-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			dpu: dpu@63000000 {
				compatible = "sprd,sharkl3-dpu";
				reg = <0x0 0x63000000 0x0 0x1000>;
				interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_HIGH>;
				status = "disabled";

				reset-syscon = <&aon_apb_regs REG_AON_APB_APB_RST1
						MASK_AON_APB_DISP_SOFT_RST>;

				dpu_port: port {
					dpu_out: endpoint {
						remote-endpoint = <&dsi_in>;
					};
				};
			};

			dsi: dsi@63100000 {
				compatible = "sprd,sharkl3-dsi-host";
				reg = <0x0 0x63100000 0x0 0x1000>;
				interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>;
				status = "disabled";

				reset-syscon = <&aon_apb_regs REG_AON_APB_JVL_DUMMY 0x04>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						dsi_out: endpoint {
							remote-endpoint = <&dphy_in>;
						};
					};

					port@1 {
						reg = <1>;
						dsi_in: endpoint {
							remote-endpoint = <&dpu_out>;
						};
					};
				};
			};

			dphy: dphy {
				compatible = "sprd,sharkl3-dsi-phy";
				reg = <0x0 0x63100000 0x0 0x1000>;
				status = "disabled";

				enable-syscon = <&aon_apb_regs REG_AON_APB_APB_EB2
						(MASK_AON_APB_DPHY_REF_EB |
						MASK_AON_APB_DPHY_CFG_EB)>;
				power-small-syscon = <&aon_apb_regs REG_AON_APB_PWR_CTRL
						MASK_AON_APB_MIPI_DSI_PS_PD_S>;
				power-large-syscon = <&aon_apb_regs REG_AON_APB_PWR_CTRL
						MASK_AON_APB_MIPI_DSI_PS_PD_L>;
				power-iso-syscon = <&aon_apb_regs REG_AON_APB_PWR_CTRL
						MASK_AON_APB_MIPI_DSI_ISO_SW_EN>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						dphy_out: endpoint {
							remote-endpoint = <&panel_in>;
						};
					};

					port@1 {
						reg = <1>;
						dphy_in: endpoint {
							remote-endpoint = <&dsi_out>;
						};
					};
				};
			};
		};
	};

	ext_26m: ext-26m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
		clock-output-names = "ext-26m";
	};

	ext_32k: ext-32k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "ext-32k";
	};

	ext_4m: ext-4m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <4000000>;
		clock-output-names = "ext-4m";
	};

	rco_100m: rco-100m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		clock-output-names = "rco-100m";
	};
};
