// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Spreadtrum Sharkl3 platform DTS file
 *
 * Copyright (C) 2018, Spreadtrum Communications Inc.
 */

#include <dt-bindings/soc/sprd,sharkl3-regs.h>
#include <dt-bindings/soc/sprd,sharkl3-mask.h>

/ {
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ap_ahb_regs: syscon@20e00000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x20e00000 0 0x10000>;
		};

		pub_apb_regs: syscon@300e0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x300e0000 0 0x10000>;
		};

		pub_ahb_regs: syscon@300f0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x300f0000 0 0x10000>;
		};

		aon_mailbox: mailbox@400a0000 {
			compatible = "sprd,mailbox";
			reg = <0 0x400a0000 0 0x8000>,
			      <0 0x400a8000 0 0x8000>;
			syscons = <&aon_apb_regs 0x4 0x200000>;
			syscon-names = "clk";
			interrupts = <GIC_SPI 68 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 69 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 119 IRQ_TYPE_LEVEL_HIGH>;
			sprd,sensor = <7>;
			sprd,core-cnt = <8>;
			sprd,version = <3>;
		};

		aon_intc_regs: syscon@40200000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40200000 0 0x10000>;
		};

		pmu_regs: syscon@402b0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x402b0000 0 0x10000>;
		};

		disp_pd: power-domain@402b0058 {
			compatible = "sprd,sharkl3-disp-domain";
			reg = <0x0 0x402b0058 0x0 0x20>;
			syscons = <&pmu_regs REG_PMU_APB_PD_DISP_CFG
				MASK_PMU_APB_PD_DISP_FORCE_SHUTDOWN>;
			syscon-names = "power";
			#power-domain-cells = <0>;
		};

		aon_apb_regs: syscon@402e0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x402e0000 0 0x10000>;
		};

		anlg_phy_g1_regs: syscon@40350000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40350000 0 0x3000>;
		};

		anlg_phy_g2_regs: syscon@40353000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40353000 0 0x6000>;
		};

		anlg_phy_g4_regs: syscon@40359000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40359000 0 0x3000>;
		};

		anlg_phy_g5_regs: syscon@4035c000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x4035c000 0 0x3000>;
		};

		anlg_phy_g7_regs: syscon@40363000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40363000 0 0x3000>;
		};

		anlg_wrap_wcn_regs: syscon@40366000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40366000 0 0x3000>;
		};

		wcn_regs: syscon@403a0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x403a0000 0 0x10000>;
		};

		mm_ahb_regs: syscon@60800000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x60800000 0 0x10000>;
		};

		mm_vsp_ahb_regs: syscon@62000000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x62000000 0 0x10000>;
		};

		ap_apb_regs: syscon@71300000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x71300000 0 0x40000>;
		};

		ap_intc0_regs: syscon@40500000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40500000 0 0x10000>;
		};

		ap_intc1_regs: syscon@40510000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40510000 0 0x10000>;
		};

		ap_intc2_regs: syscon@40520000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40520000 0 0x10000>;
		};

		ap_intc3_regs: syscon@40530000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40530000 0 0x10000>;
		};

		ap_intc4_regs: syscon@40540000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40540000 0 0x10000>;
		};

		ap_intc5_regs: syscon@40550000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40550000 0 0x10000>;
		};

		ap-apb {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			uart0: serial@70000000 {
				compatible = "sprd,sc9863-uart",
					     "sprd,sc9836-uart";
				reg = <0x70000000 0x100>;
				interrupts = <GIC_SPI 2 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart1: serial@70100000 {
				compatible = "sprd,sc9863-uart",
					     "sprd,sc9836-uart";
				reg = <0x70100000 0x100>;
				interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart2: serial@70200000 {
				compatible = "sprd,sc9863-uart",
					     "sprd,sc9836-uart";
				reg = <0x70200000 0x100>;
				interrupts = <GIC_SPI 4 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart3: serial@70300000 {
				compatible = "sprd,sc9863-uart",
					     "sprd,sc9836-uart";
				reg = <0x70300000 0x100>;
				interrupts = <GIC_SPI 5 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart4: serial@70400000 {
				compatible = "sprd,sc9863-uart",
					     "sprd,sc9836-uart";
				reg = <0x70400000 0x100>;
				interrupts = <GIC_SPI 6 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};
		};

		ap-ahb {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			usb: usb@20200000 {
				compatible = "sprd,sharkl3-musb";
				reg = <0x20200000 0x2000>;
				interrupts = <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-names = "mc";
				clocks = <&apahb_gate CLK_OTG_EB>;
				clock-names = "core_clk";
				phy-type = "usb20_sprd_phy";
				usb-phy = <&hsphy>;
				phy-names = "usb";
				dr-mode = "peripheral";
			};

			hsphy: hsphy@20e00000 {
				compatible = "sprd,sharkl3-phy";
				reg = <0x20e00000 0x3030>;
				reg-names = "phy_glb_regs";
				sprd,syscon-enable = <&aon_apb_regs>;
				sprd,syscon-apahb = <&ap_ahb_regs>;
				sprd,syscon-anag4 = <&anlg_phy_g4_regs>;
				sprd,vdd-voltage = <3300000>;
				#phy-cells = <0>;
			};

			sdio3: sdio@20600000 {
				compatible  = "sprd,sdhc-r11p1";
				reg = <0x20600000 0x1000>;
				interrupts = <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>;

				clock-names = "sdio_clk", "sdio_clk_source",
					      "sdio_ahb_enable";
				clocks = <&ap_clk CLK_EMMC_2X>,
					 <&rpll CLK_RPLL_390M>,
					 <&apahb_gate CLK_EMMC_EB>;

				status = "disabled";
			};
		};

		mm {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			gpu: gpu@60000000 {
			compatible = "sprd,rogue";
			reg = <0x60000000 0x100000>;
			syscons = <&pmu_regs REG_PMU_APB_PD_GPU_TOP_CFG
					MASK_PMU_APB_PD_GPU_TOP_FORCE_SHUTDOWN>,
				  <&pmu_regs REG_PMU_APB_PD_GPU_CORE_CFG
					MASK_PMU_APB_PD_GPU_CORE_FORCE_SHUTDOWN>,
				  <&pmu_regs REG_PMU_APB_PD_GPU_CORE_CFG
					MASK_PMU_APB_PD_GPU_CORE_AUTO_SHUTDOWN_EN>;
			syscon-names = "top_force_shutdown",
				"core_force_shutdown",
				"core_auto_shutdown";
			interrupts = <GIC_SPI 39 IRQ_TYPE_LEVEL_HIGH>;

			operating-points = <
				/* kHz    uV */
				256000    0
				384000    0
				550000    0
				>;

			sprd,dvfs-lists = <
				/* kHz  uV  idx div */
				256000  0    5   1
				384000  0    7   1
				550000  0    9   1
				>;

			sprd,dvfs-default = <0>;
			sprd,dvfs-scene-extreme = <2>;
			sprd,dvfs-scene-high = <1>;
			sprd,dvfs-scene-medium = <1>;
			sprd,dvfs-scene-low = <0>;
			sprd,dvfs-range-max = <2>;
			sprd,dvfs-range-min = <0>;
			};

			dpu: dpu@63000000 {
				compatible = "sprd,display-processor";
				reg = <0x63000000 0x1000>;
				interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_HIGH>;
				status = "disabled";
				iommus = <&iommu_dispc>;

				dma-coherent;

				sprd,ip = "dpu-r2p0";
				sprd,soc = "sharkl3";

				syscons = <&aon_apb_regs REG_AON_APB_APB_RST1
					MASK_AON_APB_DISP_SOFT_RST>;
				syscon-names = "reset";

				dpu_port: port {
					dpu_out: endpoint {
						remote-endpoint = <&dsi_in>;
					};
				};
			};

			gsp_core0: gsp@63000000 {
				compatible = "sprd,gsp-core";
				reg = <0x63000000 0x2000>;
				core-id = <0>;
				kcfg-num = <16>;
				interrupts = <GIC_SPI 51 IRQ_TYPE_LEVEL_HIGH>;
				iommus = <&iommu_dispc>;
			};

			iommu_dispc: iommu@63000000 {
				compatible = "sprd,iommuexl3-dispc";
				reg = <0x63000000 0x800>,
				      <0x63000800 0x80>;
				iova-base = <0x30000000>;
				iova-size = <0x10000000>;
				reg_name = "mmu_interrupt_reg","mmu_reg";
				status = "disabled";
				#iommu-cells = <0>;
			};

			dsi: dsi@63100000 {
				compatible = "sprd,dsi-host";
				reg = <0x63100000 0x1000>;
				interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>;
				status = "disabled";

				sprd,ip = "sprd,dsi-ctrl", "r3p0";
				sprd,soc = "sharkl3";

				syscons = <&aon_apb_regs REG_AON_APB_JVL_DUMMY
					0x04>;
				syscon-names = "reset";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						dsi_out: endpoint {
							remote-endpoint = <&dphy_in>;
						};
					};

					port@1 {
						reg = <1>;
						dsi_in: endpoint {
							remote-endpoint = <&dpu_out>;
						};
					};
				};
			};

			dphy: dphy {
				compatible = "sprd,dsi-phy";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x63100000 0x1000>;
				status = "disabled";

				sprd,ip = "sprd,megacores-sharkle";
				sprd,soc = "sharkl3";

				syscons = <&aon_apb_regs REG_AON_APB_APB_EB2
					(MASK_AON_APB_DPHY_REF_EB |
					 MASK_AON_APB_DPHY_CFG_EB)>,
					<&aon_apb_regs REG_AON_APB_PWR_CTRL
					MASK_AON_APB_MIPI_DSI_PS_PD_S>,
					<&aon_apb_regs REG_AON_APB_PWR_CTRL
					MASK_AON_APB_MIPI_DSI_PS_PD_L>,
					<&aon_apb_regs REG_AON_APB_PWR_CTRL
					MASK_AON_APB_MIPI_DSI_ISO_SW_EN>;
				syscon-names = "enable", "power_small",
						"power_large", "power_iso";

				/* output port */
				port@0 {
					reg = <0>;
					dphy_out: endpoint {
						remote-endpoint = <&panel_in>;
					};
				};

				/* input port*/
				port@1 {
					reg = <1>;
					dphy_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};
			};
		};
	};

	ext_26m: ext-26m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
		clock-output-names = "ext-26m";
	};

	ext_13m: ext-13m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <13000000>;
		clock-output-names = "ext_13m";
	};

	ext_6m5: ext-6m5 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <6500000>;
		clock-output-names = "ext_6m5";
	};

	ext_4m3: ext-4m3 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <4300000>;
		clock-output-names = "ext_4m3";
	};

	ext_4m: ext-4m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <4000000>;
		clock-output-names = "ext_4m";
	};

	ext_250k: ext-250k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <250000>;
		clock-output-names = "ext_250k";
	};

	ext_32k: ext-32k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "ext_32k";
	};

	ext_1m: ext-1m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1000000>;
		clock-output-names = "ext_1m";
	};

	ext_2m: ext-2m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <2000000>;
		clock-output-names = "ext_2m";
	};

	ext_rc0_4m: ext-rc0-4m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <4000000>;
		clock-output-names = "ext_rc0_4m";
	};

	clk_pad: clk-pad {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <64000000>;
		clock-output-names = "clk_pad";
	};

	ext_rco_100m: ext-rco-100m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		clock-output-names = "ext-rco-100m";
	};
};
