// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Spreadtrum Sharkl3 platform DTS file
 *
 * Copyright (C) 2018, Spreadtrum Communications Inc.
 */

#include <dt-bindings/soc/sprd,sharkl3-regs.h>
#include <dt-bindings/soc/sprd,sharkl3-mask.h>

/ {
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ap_ahb_regs: syscon@20e00000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x20e00000 0 0x10000>;
		};

		pub_apb_regs: syscon@300e0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x300e0000 0 0x10000>;
		};

		pub_ahb_regs: syscon@300f0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x300f0000 0 0x10000>;
		};

		aon_intc_regs: syscon@40200000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40200000 0 0x10000>;
		};

		pmu_regs: syscon@402b0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x402b0000 0 0x10000>;
		};

		aon_apb_regs: syscon@402e0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x402e0000 0 0x10000>;
		};

		anlg_phy_g1_regs: syscon@40350000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40350000 0 0x3000>;
		};

		anlg_phy_g2_regs: syscon@40353000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40353000 0 0x6000>;
		};

		anlg_phy_g4_regs: syscon@40359000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40359000 0 0x3000>;
		};

		anlg_phy_g5_regs: syscon@4035c000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x4035c000 0 0x3000>;
		};

		anlg_phy_g7_regs: syscon@40363000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40363000 0 0x3000>;
		};

		anlg_wrap_wcn_regs: syscon@40366000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40366000 0 0x3000>;
		};

		wcn_regs: syscon@403a0000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x403a0000 0 0x10000>;
		};

		mm_ahb_regs: syscon@60800000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x60800000 0 0x10000>;
		};

		mm_vsp_ahb_regs: syscon@62000000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x62000000 0 0x10000>;
		};

		ap_apb_regs: syscon@71300000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x71300000 0 0x40000>;
		};

		ap_intc0_regs: syscon@40500000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40500000 0 0x10000>;
		};

		ap_intc1_regs: syscon@40510000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40510000 0 0x10000>;
		};

		ap_intc2_regs: syscon@40520000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40520000 0 0x10000>;
		};

		ap_intc3_regs: syscon@40530000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40530000 0 0x10000>;
		};

		ap_intc4_regs: syscon@40540000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40540000 0 0x10000>;
		};

		ap_intc5_regs: syscon@40550000 {
			compatible = "syscon";
			#syscon-cells = <2>;
			reg = <0 0x40550000 0 0x10000>;
		};

		ap-apb {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0x0 0x70000000 0x10000000>;

			uart0: serial@0 {
				compatible = "sprd,sc9863-uart",
					     "sprd,sc9836-uart";
				reg = <0x0 0x100>;
				interrupts = <GIC_SPI 2 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart1: serial@100000 {
				compatible = "sprd,sc9863-uart",
					     "sprd,sc9836-uart";
				reg = <0x100000 0x100>;
				interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart2: serial@200000 {
				compatible = "sprd,sc9863-uart",
					     "sprd,sc9836-uart";
				reg = <0x200000 0x100>;
				interrupts = <GIC_SPI 4 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart3: serial@300000 {
				compatible = "sprd,sc9863-uart",
					     "sprd,sc9836-uart";
				reg = <0x300000 0x100>;
				interrupts = <GIC_SPI 5 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};

			uart4: serial@400000 {
				compatible = "sprd,sc9863-uart",
					     "sprd,sc9836-uart";
				reg = <0x400000 0x100>;
				interrupts = <GIC_SPI 6 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&ext_26m>;
				status = "disabled";
			};
		};

		mm {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0x0 0x60000000 0x10000000>;

			dpu: dpu@3000000 {
				compatible = "sprd,display-processor";
				reg = <0x3000000 0x1000>;
				interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_HIGH>;
				status = "disabled";

				dma-coherent;

				sprd,ip = "dpu-r2p0";
				sprd,soc = "sharkl3";

				//sprd,syscon-aon-apb = <&aon_apb_controller>;

				dpu_port: port {
					dpu_out: endpoint {
						remote-endpoint = <&dsi_in>;
					};
				};
			};

			dsi: dsi@3100000 {
				compatible = "sprd,dsi-host";
				reg = <0x3100000 0x1000>;
				interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>;
				status = "disabled";

				sprd,ip = "sprd,dsi-ctrl", "r3p0";
				sprd,soc = "sharkl3";

				//sprd,syscon-aon-apb = <&aon_apb_controller>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						dsi_in: endpoint {
							remote-endpoint = <&dpu_out>;
						};
					};

					port@1 {
						reg = <1>;
						dsi_out: endpoint@1 {
							remote-endpoint = <&dphy_in>;
						};
					};
				};
			};

			dphy: dphy {
				compatible = "sprd,dsi-phy";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x3100000 0x1000>;
				status = "disabled";

				sprd,ip = "sprd,megacores-sharkle";
				sprd,soc = "sharkl3";

				//sprd,syscon-aon-apb = <&aon_apb_controller>;

				/* input port*/
				port@1 {
					reg = <1>;
					dphy_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};

				/* output port */
				port@0 {
					reg = <0>;
					dphy_out: endpoint {
						remote-endpoint = <&panel_in>;
					};
				};
			};
		};
	};

	ext_26m: ext-26m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
		clock-output-names = "ext-26m";
	};

	ext_13m: ext-13m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <13000000>;
		clock-output-names = "ext_13m";
	};

	ext_6m5: ext-6m5 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <6500000>;
		clock-output-names = "ext_6m5";
	};

	ext_4m3: ext-4m3 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <4300000>;
		clock-output-names = "ext_4m3";
	};

	ext_4m: ext-4m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <4000000>;
		clock-output-names = "ext_4m";
	};

	ext_250k: ext-250k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <250000>;
		clock-output-names = "ext_250k";
	};

	ext_32k: ext-32k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "ext_32k";
	};

	ext_1m: ext-1m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1000000>;
		clock-output-names = "ext_1m";
	};

	ext_2m: ext-2m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <2000000>;
		clock-output-names = "ext_2m";
	};

	ext_rc0_4m: ext-rc0-4m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <4000000>;
		clock-output-names = "ext_rc0_4m";
	};

	clk_pad: clk-pad {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <64000000>;
		clock-output-names = "clk_pad";
	};

	ext_rco_100m: ext_rco_100m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		clock-output-names = "ext-rco-100m";
	};
};
