/dts-v1/;
/plugin/;

/ {
	fragment {
		target-path = "/";
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			dtbo: dtbo {
				compatible = "sprd,dtbo-test";
				reg = <0x11>;
			};
		};
	};
};
