// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Spreadtrum Sharkl3 platform DTS file
 *
 * Copyright (C) 2018, Spreadtrum Communications Inc.
 */

/dts-v1/;

#include "sc9863a.dtsi"
#include "sc9863a-wcn.dtsi"
#include "sp9863a-mach.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Spreadtrum SC9863A SoC";

	compatible = "sprd,sc9863a";

	sprd,sc-id = "sp9863a 1000 1000";

	memory: memory {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	chosen: chosen {
		stdout-path = &uart1;
	};

	sprd-sysdump {
		memory-region = <&memory>;
		memory-region-re = <&cp_reserved>, <&scproc_pubpm>, <&smem_reserved>,
				<&gnss_reserved>, <&wcn_reserved>;
		memory-region-se = <&tos_reserved>, <&sml_reserved>;
	};

	sprd-iq {
		compatible = "sprd,iq";
		sprd,region = <&iq_reserved>;
		sprd,mapping-offs = <0x0>;
	};

	sprd-map-user {
		compatible = "sprd,map-user";
	};

	ion {
		compatible = "sprd,ion";
		#address-cells = <1>;
		#size-cells = <0>;

		heap@1 {
			reg = <1>;
			label = "carveout_mm";
			type = <2>;
		};

		heap@3 {
			reg = <3>;
			label = "carveout_fb";
			type = <2>;
			memory-region = <&fb_reserved>;
		};

		heap@4 {
			reg = <4>;
			label = "carveout_camera";
			type = <2>;
			memory-region = <&camera_reserved>;
		};
	};

	sprd-wlan {
		compatible = "sprd,sp9863a";
	};

};

&reserved_memory {

	wcn_reserved: wcn-mem@84000000 {
		reg = <0x0 0x84000000 0x0 0x00300000>;
	};

	gnss_reserved: gnss-mem@84300000 {
		reg = <0x0 0x84300000 0x0 0x0015b000>;
	};

	logo_reserved: logobuffer@fd580000{
		reg = <0x0 0xfd580000 0x0 0x007e9000>;
	};

	camera_reserved: camera@fdd69000{
		reg = <0x0 0xfdd69000 0x0 0x00a00000>;
	};

	fb_reserved: framebuffer@fe769000 {
		reg = <0x0 0xfe769000 0x0 0x1817000>;
	};
};

&i2c7 {
	status = "okay";
	clock-frequency = <400000>;
};

&spi0 {
	/*used for fingerprint sensor*/
	status = "okay";
};

&vsp {
	status = "okay";
};

&jpg {
	status = "okay";
};

&iommu_vsp {
	status = "okay";
};

&iommu_jpg {
	status = "okay";
};

&dcam {
	status = "okay";
};

&iommu_dcam {
	status = "okay";
};

&isp {
	status = "okay";
};

&iommu_isp {
	status = "okay";
};

&cpp {
	status = "okay";
};

&iommu_cpp {
	status = "okay";
};

&csi0 {
	status = "okay";
};

&csi1 {
	status = "okay";
};

&csi2 {
	status = "okay";
};