/dts-v1/;
/plugin/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Spreadtrum SC9863A-3H10 Board";
	compatible = "sprd,sp9863a-3h10", "sprd,sc9863a";
	sprd,sc-id = "sp9863a 3h10 1000";

	fragment {
		target-path = "/";
		__overlay__ {
			fingerprint@0 {
				compatible = "microarray,afs121";
				fpint-gpios = <&ap_gpio 130 0>;
			};
		};
	};
};

&chosen {
	bootargs = "earlycon=sprd_serial,0x70100000,115200n8 console=ttyS1,115200n8 loglevel=1 init=/init root=/dev/ram0 rw androidboot.hardware=s9863a3h10 androidboot.dtbo_idx=0 printk.devkmsg=on androidboot.boot_devices=soc/soc:ap-ahb/20600000.sdio";
	bootargs_ext = "androidboot.hardware=s9863a1h10";
};

&ddr_dfs {
	sprd-scene = "boost", "lcdon", "lcdoff", "camlow",
			"camhigh", "camveryhigh";
	sprd-freq = <933 400 233 400 622 933>;
};

&i2c7 {
	sc2703-disp@4b {
		compatible = "sprd,sc2703-disp";
		reg = <0x4b>;

		lcd_vdd: lcd-regulator {
			compatible = "sprd,sc2703-lcd-regulator";
			regulator-name = "sc2703-lcd";
			regulator-boot-on;
		};

		sc2703-backlight {
			compatible = "sprd,sc2703-backlight";

			pwms = <&pwms 1 40000>;
			pwm-names = "wled-pwm";
			//int-gpios = <&ap_gpio 96 0>;

			sprd,wled-mode = "duty-det-analog-mode";
			sprd,max-brightness = <255>;
		};
	};
};

&lcd_nt35596_boe_mipi_fhd {
	power-supply = <&lcd_vdd>;
};

&lcd_nt35695_truly_mipi_fhd {
	power-supply = <&lcd_vdd>;
};

&lcd_nt35532_truly_mipi_fhd {
	power-supply = <&lcd_vdd>;
};

