/*
 * Spreadtrum Sharkl5Pro board common DTS file
 *
 * Copyright (C) 2018, Spreadtrum Communications Inc.
 *
 * This file is licensed under a dual GPLv2 or X11 license.
 */

#include "lcd/lcd_dummy_mipi.dtsi"

/ {
	display-subsystem {
		compatible = "sprd,display-subsystem";
		ports = <&dpu_port>;
	};

	firmware {
		android {
			compatible = "android,firmware";

			vbmeta {
				compatible = "android,vbmeta";
				parts = "vbmeta,boot,recovery,system,vendor,product";
			};

			fstab {
				compatible = "android,fstab";
				vendor {
					compatible = "android,vendor";
					dev = "/dev/block/platform/soc/soc:ap-apb/71400000.sdio/by-name/vendor";
					type = "ext4";
					mnt_flags = "ro,barrier=1";
					fsmgr_flags = "wait";
				};
				product {
					compatible = "android,product";
					dev = "/dev/block/platform/soc/soc:ap-apb/71400000.sdio/by-name/product";
					type = "ext4";
					mnt_flags = "ro,barrier=1";
					fsmgr_flags = "wait";
				};
			};
		};
	};

	sprd-sensorhub {
		 compatible = "sprd,sharkl5Pro-sensorhub";
	};

	reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ddrbist_reserved: ddrbist-mem {
			reg = <0x0 0x80000000 0x0 0x00001000>;
		};

		audio_reserved: audio-mem {
			reg = <0x0 0x87400000 0x0 0x00400000>;
		};

		smem_reserved: sipc-mem {
			reg = <0x0 0x87800000 0x0 0x00800000>;
		};

		sensorhub_reserved: sensorhub-mem {
			reg = <0x0 0x88000000 0x0 0x01000000>;
		};

		audiodsp_reserved: audiodsp-mem {
			reg = <0x0 0x89000000 0x0 0x00600000>;
		};

		cp_reserved: cp-mem {
			reg = <0x0 0x89600000 0x0 0x04600000>;
		};

		/* Only used for iq mode, will be removed in normal mode by uboot */
		iq_reserved: iq-mem {
			compatible = "sprd,iq-mem";
			reg = <0x0 0x90000000 0x0 0x04000000>;
		};

		/* must be 64M aligned */
		sml_reserved: sml-mem {
			reg = <0x0 0x94000000 0x0 0x00020000>;
		};

		tos_reserved: tos-mem {
			reg = <0x0 0x94020000 0x0 0x01fe0000>;
		};

		pstore: pstore-mem {
			reg = <0x0 0xfff80000 0x0 0x00040000>;
		};
	};
};
