/dts-v1/;
/plugin/;

#include "reserved-memory/ums512-1h10-go-overlay.dtsi"
#include "battery/ums512-1h10-go-overlay.dtsi"

/ {
	model = "Unisoc UMS512-1H10 Board";
	compatible = "sprd,ums512-1h10-go", "sprd,ums512";
	sprd,sc-id = "ums512 1h10 go";
	fragment {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <2>;

			dtbo: dtbo {
				compatible = "sprd,dtbo-test";
				reg = <0x0 0x0 0x0 0x11>;
			};
		};
	};
};

&adi_bus {
	sprd,hw-channels = <2 0x18cc>, <3 0x18cc>, <13 0x1854>, <15 0x1874>,
			 <17 0x1844>, <19 0x1844>, <21 0x1864>, <30 0x1820>,
			 <32 0x197c>, <33 0x1988>, <35 0x19b8>, <39 0x19ac>;
};

&ddr_dfs {
	sprd-scene = "lcdoff", "lcdon", "camlow", "camhigh",
		"boost", "faceid", "camveryhigh", "top";
	sprd-freq = <256 384 512 768 1333 1333 0xbacd 0xbacd>;
};

&dmabuf {

	fd-reserved {
		label = "carveout_fd";
		memory-region = <&fd_reserved>;
	};
};
