// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Unisoc Sharkl5Pro platform DTS file
 *
 * Copyright (C) 2018, Unisoc Communications Inc.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/mfd/sprd,sc2730-regs.h>
#include <dt-bindings/mfd/sprd,sc2730-mask.h>

#include "ums512.dtsi"
#include "ums512-t610dvfs.dtsi"
#include "ums512-t618dvfs.dtsi"
#include "sc2730.dtsi"
#include "ums512-modem.dtsi"
#include "sprd-sound-fe-be.dtsi"
#include "extra_sound_card_component.dtsi"
#include "ums512-mach.dtsi"

/ {
	model = "Unisoc UMS512 SoC";

	compatible = "sprd,ums512";

	sprd,sc-id = "ums512 1000 1000";

	memory: memory {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};
};


&i2c4 {
	status = "okay";
	clock-frequency = <400000>;


};

