/dts-v1/;
/plugin/;

/ {

	model = "Spreadtrum UMS9620 1H10 Board";

	compatible = "sprd,ums9620-1h10";

	sprd,sc-id = "ums9620 1h10 1000";

};

&chosen {
	bootargs_ext = "androidboot.hardware=ums9620_1h10 androidboot.dtbo_idx=0";
};
