#
#Fingerprint
#
menuconfig INPUT_FINGERPRINT
	  tristate "Fingerprint Config Choosen"
	  default y
	  help
	  Say Y to can config finperprint manufacturer

source drivers/input/fingerprint/fps_fpc_S00/Kconfig
source drivers/input/fingerprint/fps_goodix_S00/Kconfig

