#
#Fingerprint
#
menuconfig INPUT_FINGERPRINT
	  tristate "Fingerprint Config Choosen"
	  default y
	  help
	  Say Y to can config finperprint manufacturer

source drivers/input/fingerprint/chipone/Kconfig
source drivers/input/fingerprint/focaltech/Kconfig

