config SPRD_POWER_DOMAIN
	tristate "SPRD Power Domain"
	depends on ARCH_SPRD || COMPILE_TEST
	select PM_GENERIC_DOMAINS if PM
	help
	  When you select this feature, it will enable the pm generic
	  power domain for sprd power domain module.
