# SPDX-License-Identifier: GPL-2.0
config SPRD_POWER_DOMAIN
	tristate "SPRD Power Domain"
	depends on ARCH_SPRD || COMPILE_TEST
	select PM_GENERIC_DOMAINS if PM
	help
	  When you select this feature, it will enable the pm generic
	  power domain for sprd power domain module.

config SPRD_VSP_PW_DOMAIN
	tristate "SPRD vsp power domain"
	depends on ARCH_SPRD || COMPILE_TEST
	select PM_GENERIC_DOMAINS if PM
	help
	  When you select this feature, it will enable the vsp power domain.

config SPRD_CAMSYS_PW_DOMAIN
	tristate "SPRD camsys power domain"
	depends on ARCH_SPRD || COMPILE_TEST
	select PM_GENERIC_DOMAINS if PM
	help
	  If you select this feature, it will enable the camera sys power domain.

config SPRD_DISP_PM_DOMAIN_SHARKL3
	tristate "SPRD Display PM Generic Domain for SharkL3"
	default m
	depends on ARCH_SPRD || COMPILE_TEST
	select PM_GENERIC_DOMAINS if PM
	help
	  When you select this feature, it will enable the pm generic
	  power domain for SharkL3 display module.
