/{
	reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ddrbist_reserved: ddrbist-mem@80000000 {
			reg = <0x0 0x80000000 0x0 0x00001000>;
		};

		sysdump_reserved: sysdumpinfo-mem@80001000 {
			reg = <0x0 0x80001000 0x0 0x00001000>;
		};

		smem_reserved: sipc-mem@87800000 {
			reg = <0x0 0x87800000 0x0 0x00800000>;
		};

		cp_reserved: cp-modem@88000000 {
			reg = <0x0 0x88000000 0x0 0x1d000000>;
		};

		/* Only used for iq, will be removed in normal mode by uboot */
		iq_reserved: iq-mem@aa000000{
			compatible = "sprd,iq-mem";
			reg = <0x0 0xa5000000 0x0 0x4000000>;
		};

		ch_ddr_reserved: ch_ddr@ae600000 {
			reg = <0x0 0xae600000 0x0 0x00300000>;
		};

		audio_reserved: audio-mem@af700000 {
			reg = <0x0 0xaf700000 0x0 0x00300000>;
		};

		audiodsp_reserved: audiodsp-mem@afa00000 {
			reg = <0x0 0xafa00000 0x0 0x00600000>;
		};

		logo_reserved: logobuffer@b0000000 {
			reg = <0x0 0xb0000000 0x0 0x009e4000>;
		};

		/* Only for userdebug, will be removed in user mode by uboot */
		uboot_reserved: sysdump-uboot@b5000000 {
			reg = <0x0 0xb5000000 0x0 0x01000000>;
		};

		/* The uboot_log_reserved node is added in uboot. base:0xbbe8 0000, size:0x80000 */
		uboot_log_reserved: uboot_log-mem@bbe80000 {
			reg = <0x0 0xbbe80000 0x0 0x00080000>;
		};

		ise_med_reserved: ise_med@bc000000 {
			compatible = "sprd,qogirn6pro-ise-med";
			reg = <0x0 0xbc000000 0x0 0x01000000>;
		};

		/* must be 1M aligned */
		sml_reserved: sml-mem@bd000000 {
			reg = <0x0 0xbd000000 0x0 0x00040000>;
		};

		tos_reserved: tos-mem@bd040000 {
			reg = <0x0 0xbd040000 0x0 0x01fc0000>;
		};

		tos_shm_reserved: sh-mem@c3000000{
			reg = <0x0 0xc3000000 0x0 0x00100000>;
		};

		cma_reserved: cma_share@f00000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0xf0000000 0x0 0x03000000>;
			reusable;
			linux,cma-default;
		};

		dptx_hdcp_reserved: dptx_hdcp@fff10000 {
			reg = <0x0 0xfff10000 0x0 0x00060000>;
		};

		rebootescrow@fff70000 {
			no-map;
			reg = <0x0 0xfff70000 0x0 0x00010000>; /* 64K */
		};

		pstore_reserved: ramoops@fff80000 {
			compatible = "ramoops";
			reg = <0x0 0xfff80000 0x0 0x00040000>;
			record-size = <0x8000>;
			console-size = <0x8000>;
			pmsg-size = <0x8000>;
		};
	};
};

