&reserved_memory {
	/* Encrypt and decrypt widevine video */
	oemcrypto_reserved: oemcrypto@b4100000 {
		reg = <0x0 0xb4100000 0x0 0x01100000>;
	};

	widevine_reserved: widevine@dfc00000 {
		reg = <0x0 0xdfc00000 0x0 0x10400000>;
	};

	fd_reserved: faceid-mem@ff9f0000 {
		reg = <0x0 0xff9f0000 0x0 0x00500000>;
	};
};

