&reserved_memory {
	/* Encrypt and decrypt widevine video */
	oemcrypto_reserved: oemcrypto@b4100000 {
		reg = <0x0 0xb4100000 0x0 0x01100000>;
	};

	widevine_reserved: widevine@e1a00000 {
		reg = <0x0 0xe1a00000 0x0 0x0e600000>;
	};

	fd_reserved: faceid-mem@ff9f0000 {
		reg = <0x0 0xff9f0000 0x0 0x00500000>;
	};
};

