/*
 * UNISOC UMP9620 PMIC dts file
 *
 * Copyright (C) 2020, UNISOC Communications Inc.
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
*/

&adi_bus {
	#address-cells = <1>;
	#size-cells = <0>;

	ump9620_pmic: pmic@0 {
		compatible = "sprd,ump9620";
		reg = <0x0>;
		spi-max-frequency = <26000000>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupts = <GIC_SPI 230 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;

		pmic_eic: gpio@280 {
			compatible = "sprd,ump96xx-eic", "sprd,sc27xx-eic", "sprd,sc2731-eic";
			reg = <0x280>;
			interrupt-parent = <&ump9620_pmic>;
			interrupts = <4 IRQ_TYPE_LEVEL_HIGH>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		syscon@2000 {
			compatible = "sprd,ump962x-syscon";
			reg = <0x2000>, <0x23a0>, <0x2398>;
		};

	};

};

#include "efuse.dtsi"
#include "regulator.dtsi"

