config SPRD_SYSDUMP
	tristate "Enable UNISOC sysdump handler"
	depends on ARCH_SPRD && !KEXEC_CORE
	help
	  This option enables Spreatrum sysdump which prepare debug info
	  for u-boot to write into mmc storage after kernel panics.

config SPRD_MINI_SYSDUMP
	depends on SPRD_SYSDUMP
	bool "Enable UNISOC mini sysdump handler"
	help
	  This option enables Spreatrum mini sysdump which supplies simple
	  debug info for projects can not support external sd card after
	  system occurs kernel panics.

config SPRD_NATIVE_HANG_MONITOR
	tristate "Enable UNISOC android native hang detect handler"
	help
		This option enables Spreatrum android native hang detect which prepare debug info
		for the case to debug.

config UNISOC_LASTKMSG
	depends on SPRD_SYSDUMP || SPRD_MINI_SYSDUMP
	tristate "Enable UNISOC LASTKMSG handler"
	help
	  This option enables Unisoc LSTKMSG which supplies kernel
	  debug info.
	  1.save task sched info in minidump when panic or cpu hang.
	  2.save runqueue info in minidump when panic or cpu hang.
	  3.save current stack info in minidump when panic or cpu hang.
	  4.save per cpu register and current stack in minidump when
	  panic or cpu hang.
	  5.save per cpu irq stack in minidump when panic or wdh
	  only in 64b system.
config UNISOC_DUMP_IO
	depends on SPRD_SYSDUMP || SPRD_MINI_SYSDUMP
	tristate "Enable UNISOC dump io handler"
	help
		This option enables dump io which provide all io requests info at that time
