config SHOW_UREGS_WITH_PHYSICAL
	tristate "SPRD userspace debug: show uregs with phys"
	depends on ARM64
	help
	  This option enables process show user regs with their physcial
          address before coredump
