# SPDX-License-Identifier: GPL-2.0-only
#
# unisoc scheduler based on WALT
#
menu "Unisoc Scheduler Features"

config UNISOC_SCHED
	tristate "Support Unisoc Scheduler Features"
	depends on SMP
	help
	This is the base of unisoc specifec scheduler, including WALT, EAS, RT,
	cpufreq governor and so on...

config SCHED_WALT
	tristate "Support Window Assisted Load Tracking"
	depends on SMP
	depends on UNISOC_SCHED
	help
	This feature will allow the scheduler to get utilzation for tasks
	and runqueues based on window assisted load tracking. The util can be
	used to guide eas/load_balance/rt task placement as well as
	task frequency requirements for cpufreq governors.

choice
	prompt "select how to boost the cpu/task util"
	default UNISOC_GROUP_BOOST

config UNISOC_GROUP_BOOST
	bool "Using group boost just like schedtune"
	depends on SCHED_WALT
	depends on UCLAMP_TASK
	help
	This feature is porting from schedtune's boost params. It can boost the
	task and cpu when setting the val to be bigger than 0. Also It can deboost
	the task and cpu when setting the val to be smaller than 0.

config UCLAMP_MIN_TO_BOOST
	bool "Transform uclamp_min to schedtune.boost"
	depends on SCHED_WALT
	depends on UCLAMP_TASK
	help
	This feature would transform the uclamp_min to stune.boost.
	Meantime, add sysctl to let users could disable the feature and using
	the original uclamp.

endchoice

config UNISOC_ROTATION_TASK
	bool "Unisoc rotation task"
	depends on SMP
	depends on SCHED_WALT
	default n
	help
	This option enables task rotation feature. In ARM big.little cpu
	topology, benchmark app may start NR_CPUS big tasks to run,
	rotation task can improve system performance between big core
	and little core.

config UNISOC_SCHEDUTIL_GOV
	tristate "Support Unisoc Schedutil Governor"
	depends on CPU_FREQ && SMP
	depends on UNISOC_SCHED
	help
	this cpufreq governor is based on the original kernel schedutil governor,
	and add unisoc specific features like freq_margin and slak_timer.

config UNISOC_HUNG_TASK_ENH
	bool "Unisoc hung task enh"
	depends on UNISOC_SCHED && DETECT_HUNG_TASK
	help
	  This feature uses whitelist/blacklist to enhance D state task detect.
	  In addition, add the detection of iowait state task.
	  If Y, check tasks according to whitelist/blacklist rule. Using whitelist
	  mode will check tasks in the list, blacklist mode will check tasks out
	  of the list.
	  If N, check all tasks.

endmenu
