config SPRD_HANG_DEBUG
	bool "Enable SPRD hang debug feature"
	default n
	help
	  This option enables SPRD hang debug feature which dump and
	  print debug info when kernel panics.

config SPRD_HANG_WDF
	tristate "Enable SPRD hang debug wdf feature"
	depends on SPRD_HANG_DEBUG
	help
	  This option enables SPRD hang debug wdf feature.

config SPRD_HANG_WDH
	tristate "Enable SPRD hang debug wdh feature"
	depends on SPRD_HANG_DEBUG
	help
	  This option enables SPRD hang debug wdh feature.

config SPRD_HANG_RESET
	bool "trigger cm4 handling ap watchdog reset"
	depends on SPRD_HANG_WDH
	default y

config SPRD_HANG_TRIGGER
	tristate "supply a driver for trigger AP cpu hang"
	depends on SPRD_HANG_DEBUG
	help
	  This option triggers SPRD cpu hang.
