/*
 * Spreadtrum Pike2 SP7731e DTS file
 *
 * Copyright (C) 2019-2020, Spreadtrum Communications Inc.
 *
 * This file is licensed under a dual GPLv2 or X11 license.
 */

#include <dt-bindings/gpio/gpio.h>
#include "sc7731e.dtsi"
#include "sc7731e-wcn.dtsi"
#include "sc2720.dtsi"
#include "sprd-sound.dtsi"
#include "sp7731e-mach.dtsi"

/ {
	model = "Spreadtrum Pike2 SC7731e SoC";

	compatible = "sprd,sc7731e";

	sprd,sc-id = "sp7731e 1000 1000";

	memory: memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	sprd-map-user {
		compatible = "sprd,map-user";
	};

	sprd-wlan {
		compatible = "sprd,sp7731e";
	};

	sprd_scale {
		compatible = "sprd,sprd_scale";
		iommus = <&iommu_dcam>;
		status = "okay";
	};

	sprd_rotation {
		compatible = "sprd,sprd_rotation";
		sprd,cam-ahb-syscon = <&mm_ahb_regs>;
		iommus = <&iommu_dcam>;
		status = "okay";
	};
};

&reserved_memory {
	tos_reserved: tos-mem@94020000 {
		reg = <0x94020000 0x01fe0000>;
	};

	fd_reserved: fd@bf6fc000 {
		reg = <0xbf6fc000 0x00500000>;
	};

	wb_reserved: writeback-mem@bfbfc000 {
		reg = <0xbfbfc000 0x00384000>;
	};

	pstore_reserved: ramoops@bff80000 {
		compatible = "ramoops";
		reg = <0xbff80000 0x00040000>;
		record-size = <0x8000>;
		console-size = <0x8000>;
		pmsg-size = <0x8000>;
	};
};

&iommu_dcam {
	status = "okay";
};

&iommu_isp {
	status = "okay";
};

&dcam {
	status = "okay";
};

&isp {
	status = "okay";
};

&csi0 {
	status = "okay";
};

&gpu {
	operating-points = <
		/* kHz    uV */
		384000    900000
		533000    900000
		600000    1000000
		>;

	sprd,dfs-lists = <
		/* kHz  uV      idx div */
		384000  900000   6    1
		533000  900000   8    1
		600000  1000000  8    1
		>;

	sprd,dfs-scene-extreme = <2>;
	sprd,dfs-range-max = <2>;
};

&pwms {
	status = "okay";
};

&vsp {
	status = "okay";
};

&iommu_vsp {
	status = "okay";
};

&jpg {
	status = "okay";
};

&iommu_jpg {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vddcore>;
};

&cpu1 {
	cpu-supply = <&vddcore>;
};

&cpu2 {
	cpu-supply = <&vddcore>;
};

&cpu3 {
	cpu-supply = <&vddcore>;
};

&spi1 {
	/*used for fingerprint sensor*/
	clock-names ="enable", "spi", "source";
	clocks = <&aonapb_gate CLK_AP_HS_SPI_EB>,
		<&aon_clk CLK_AP_HS_SPI>, <&pll CLK_TWPLL_192M>;
	status = "okay";
};

&pmic_flash {
	status = "okay";
};
&sprd_audio_codec_ana {
	status = "okay";
	digital-codec = <&sprd_audio_codec_dig>;
};

&sprd_headset {
	status = "okay";
	io-channels = <&pmic_adc 20>;
	io-channel-names = "headmic_in_little";
	gpios = <&pmic_eic 3 GPIO_ACTIVE_HIGH>, <&pmic_eic 7 GPIO_ACTIVE_HIGH>,
		<&pmic_eic 11 GPIO_ACTIVE_HIGH>, <&pmic_eic 5 GPIO_ACTIVE_HIGH>,
		<&pmic_eic 12 GPIO_ACTIVE_HIGH>;
	gpio-trigger-levels = <1 1 1 1 1>;
	gpio-dbnc-intervals = <30 100 100 100 100>;
	gpio-names = "button", "detect_l",
		"detect_h", "detect_mic",
		"detect_all";
	adc-threshold-3pole-detect = <2950>;
	sprd,adc-gnd = <450>;
	sprd,stable-value = <2170>;
	sprd,coefficient = <917280>;
};

&sound_vbc_r1p0v3_sprd_codec {
	status = "okay";
};

&sound_sprd_ap_alliis {
	status = "okay";
};
