config SPRD_DEBUG
	bool "Spreadtrum debug module"
	depends on ARCH_SPRD || COMPILE_TEST
	help
	  Say y here to enable Debug support.

config SPRD_LOOK_AT
	tristate "Sprdtrum lookat tool support"
	depends on SPRD_DEBUG || COMPILE_TEST
	default n
	help
	  this macro is for lookat driver, lookat is a debug tool that is used to
	  view the content of arm/arm64 of the address space through usb port,
	  such as the register of each module, DDR address space, etc.
	  When in doubt, say n

source "drivers/unisoc_platform/debug/busmonitor/Kconfig"
source "drivers/unisoc_platform/debug/djtag/Kconfig"
source "drivers/unisoc_platform/debug/dmc_mpu/Kconfig"
source "drivers/unisoc_platform/debug/userspace_debug/Kconfig"
